@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

body {
  background: var(--background);
  color: var(--foreground);
}

@keyframes fade-up {
  from {
    opacity: 0;
    transform: translateY(30px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-up {
  animation: fade-up 0.8s ease-out both;
}

.animate-scale-x {
  transform-origin: left;
  animation: scale-x 0.8s ease-out both;
}

@keyframes scale-x {
  from {
    transform: scaleX(0);
  }

  to {
    transform: scaleX(1);
  }
}